<!--
<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<%= debug @products %>
-->

<h1>Products</h1>

<!--
<div id="products">
  <% @products.each do |product| %>
    <div>
      <a href="/products/<%= product.id %>">
      <%= product.name %>
    </div>
  <% end %>
</div>
-->

<div id="products">
  <%= link_to "New product", new_product_path %>
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>


